#*
 * *************************************************************************************************************************************************************
 *
 * SteelBlue: DCI User Interfaces
 * http://tidalwave.it/projects/steelblue
 *
 * Copyright (C) 2015 - 2024 by Tidalwave s.a.s. (http://tidalwave.it)
 *
 * *************************************************************************************************************************************************************
 *
 * Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR
 * CONDITIONS OF ANY KIND, either express or implied.  See the License for the specific language governing permissions and limitations under the License.
 *
 * *************************************************************************************************************************************************************
 *
 * git clone https://bitbucket.org/tidalwave/steelblue-src
 * git clone https://github.com/tidalwave-it/steelblue-src
 *
 * *************************************************************************************************************************************************************
 *#

#[[##]]# Introduction

${project.description}

[Javadoc](apidocs/index.html)


#[[##]]# Table of contents

<!-- MACRO{toc|section=0|fromDepth=1|toDepth=4} -->

TBD

#[[###]]# Roles


#[[###]]# ActionProvider

![UML](apidocs/it/tidalwave/ui/core/role/ActionProvider.svg)
TBD


#[[###]]# Changeable

![UML](apidocs/it/tidalwave/ui/core/role/Changeable.svg)
TBD


#[[###]]# Displayable

![UML](apidocs/it/tidalwave/ui/core/role/Displayable.svg)
TBD


#[[###]]# HtmlRenderable

![UML](apidocs/it/tidalwave/ui/core/role/HtmlRenderable.svg)
TBD


#[[###]]# IconProvider

![UML](apidocs/it/tidalwave/ui/core/role/IconProvider.svg)
TBD


#[[###]]# LocalizedDisplayable

![UML](apidocs/it/tidalwave/ui/core/role/LocalizedDisplayable.svg)
TBD


#[[###]]# MutableDisplayable

![UML](apidocs/it/tidalwave/ui/core/role/MutableDisplayable.svg)
TBD


#[[###]]# MutableIconProvider

![UML](apidocs/it/tidalwave/ui/core/role/MutableIconProvider.svg)
TBD


#[[###]]# MutableLocalizedDisplayable

![UML](apidocs/it/tidalwave/ui/core/role/MutableLocalizedDisplayable.svg)
TBD


#[[###]]# PlainTextRenderable

![UML](apidocs/it/tidalwave/ui/core/role/PlainTextRenderable.svg)
TBD


#[[###]]# PresentationModel

![UML](apidocs/it/tidalwave/ui/core/role/PresentationModel.svg)
TBD


#[[###]]# PresentationModelAggregate

![UML](apidocs/it/tidalwave/ui/core/role/PresentationModelAggregate.svg)
TBD


#[[###]]# PresentationModelFactory

![UML](apidocs/it/tidalwave/ui/core/role/PresentationModelFactory.svg)
TBD


#[[###]]# Selectable

![UML](apidocs/it/tidalwave/ui/core/role/Selectable.svg)
TBD


#[[###]]# StringRenderable

![UML](apidocs/it/tidalwave/ui/core/role/StringRenderable.svg)
TBD


#[[###]]# Styleable

![UML](apidocs/it/tidalwave/ui/core/role/Styleable.svg)
TBD


#[[###]]# UserAction

![UML](apidocs/it/tidalwave/ui/core/role/UserAction.svg)
TBD


#[[###]]# UserActionProvider

![UML](apidocs/it/tidalwave/ui/core/role/UserActionProvider.svg)
TBD


#[[###]]# Visible

![UML](apidocs/it/tidalwave/ui/core/role/Visible.svg)
TBD

